@import './style.scss';
// 头部的高度
$header-height:60px;
// 元素块之间的间隔
$separation:10px;
$icon-size:$font-size-l1*1.2;
$icon-url: url('../../img/icon/github_icon_1.jpg');
$catolog-width:220px;

// #$markdown-input 桌面端小于500px
$textarea-height: 220px;
$markdown-option-height: 30px;


